svg(
    version="1.1",
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    x="0px",
    y="0px",
    width="94px",
    height="94px",
    viewBox="0 0 94 94",
    enable-background="new 0 0 94 94",
    xml:space="preserve"
)
    g
        g
            path(
                fill-rule="evenodd",
                clip-rule="evenodd",
                fill="#489DF7",
                d="M47,0C21.042,0,0,21.042,0,47c0,25.958,21.042,47,47,47 c25.957,0,47-21.042,47-47C94,21.042,72.957,0,47,0z M47,92C22.147,92,2,71.854,2,47C2,22.147,22.147,2,47,2 c24.853,0,45,20.147,45,45C92,71.854,71.853,92,47,92z"
            )
    path(
        fill="#489DF7",
        d="M67.729,44.905L33.731,27.873c-0.619-0.31-1.356-0.277-1.947,0.086c-0.59,0.364-0.949,1.008-0.949,1.702 v34.012c0,0.693,0.359,1.337,0.948,1.701c0.321,0.198,0.686,0.299,1.052,0.299c0.306,0,0.611-0.07,0.894-0.211l33.998-16.979 c0.678-0.339,1.106-1.031,1.106-1.788C68.833,45.937,68.406,45.244,67.729,44.905z"
    )
