include ./head.pug

link(rel='stylesheet', href='styles/team.css')

.header
    img.logo(src='img/team.jpg')
    .heading Register your team

.team
    label team name
    input#team-name(type='text', placeholder='what\'s your team called?',
    autofocus, value=team.name)
    label#name-message
    <br /><br />
    label select track
    each track in ['design', 'hardware', 'open track', 'dev tools', 'data viz', 'quality']
        if (team.track == track)
            input(type='radio', name='track', value=track id=track checked=true)
        else
            input(type='radio', name='track', value=track id=track)
        label(for=track).radio-inline=track
    label#track-message

.members
    label members (max 4)
    if team
        if team.members
            each member in team.members
                .member=member.name||member.username

    label(style="margin-top: 15px; line-height: 2")
        span share this url to invite your team members:
        span(style='color:#1268A2')=team.inviteLink
        span &nbsp;
        a(id='copy', data-clipboard-text=team.inviteLink) copy

.t-shirt
    label your t-shirt size
    input#tshirt(type='text', placeholder='S/M/L/XL/XXL', value=user.tshirt)
    label#tshirt-message

include ./common-styles.pug
include ./scripts.pug
